.letter-square.in-wrong-position {
    background-color: lightskyblue;
}

.letter-square.correct {
    background-color: green;
}

.letter-square {
    width: 90%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    line-height: 3rem;
    vertical-align: middle;
    box-sizing: border-box;
    border: 1px solid white;
}