.guess-list {
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.guess-row {
    margin: auto;
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(5, 75px);
    column-gap: 5px;
    height: 75px;
}

.guess-row:first-child {
    margin-top: unset;
}