.keyboard {
    // width: 100%;
    // margin-top: auto;
    display: flex;
    flex-direction: column;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;

    &:first-child {
        margin-top: 5px;
    }
}