.keyboard {
    display: block;
    // flex-direction: column;
    height: 40%;
    row-gap: 0.25rem;
    padding: 0 0.5rem 0.25rem 0.5rem;
    width: 100%;
    margin: 0 auto;
    border: 1px dotted yellow;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    column-gap: 0.25rem;

    &:first-child {
        margin-top: 0.25rem;
    }
}