.keyboard-key {
    border: 1px solid black;
    border-radius: 10%;
    background-color: antiquewhite;
    color: black;
    cursor: pointer;
    user-select: none;
    align-items: center;
    line-height: 5rem;
    text-align: center;
    width: 100%;

    &:first-child {
        margin-left: unset;
    }

    &:hover {
        background-color: bisque;
    }

    &:active {
        background-color: beige;
        color: brown;
    }

    &.not-in-word {
        background-color: darkslategray;
        color: white;
    }

    &.in-wrong-position {
        background-color: lightskyblue;
    }

    &.correct-position {
        background-color: green;
    }

    &.large-key {
        // width: unset;
    }
}