.keyboard-key {
    border: 1px solid black;
    border-radius: 10%;
    min-width: 50px;
    margin-left: 5px;
    cursor: pointer;
    font-size: xx-large;
    user-select: none;
}

.keyboard-key:first-child {
    margin-left: unset;
}

.keyboard-key:hover {
    background-color: bisque;
}
.keyboard-key:active {
    background-color: beige;
    color: brown;
}

.keyboard-key.not-in-word {
    background-color: darkslategray;
    color: white;
}
.keyboard-key.in-wrong-position {
    background-color: lightskyblue;
}

.keyboard-key.correct-position {
    background-color: green;
}