.keyboard-key {
    border: 1px solid black;
    border-radius: 10%;
    cursor: pointer;
    user-select: none;
    width: 1.5rem;
    // flex-grow: 1;

    &:first-child {
        margin-left: unset;
    }

    &:hover {
        background-color: bisque;
    }

    &:active {
        background-color: beige;
        color: brown;
    }

    &.not-in-word {
        background-color: darkslategray;
        color: white;
    }

    &.in-wrong-position {
        background-color: lightskyblue;
    }

    &.correct-position {
        background-color: green;
    }

    &.large-key {
        width: unset;
    }
}