@import '../../variables.scss';

.message-box {
    background-color: #1777b3;
    width: 50%;
    max-width: 300px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 20%;
    z-index: 9999;
    border: 1px solid black;
    border-radius: 3px;
    padding-left: 1%;
    padding-right: 1%;

    &.shake {
        animation-duration: 0.125s;
        animation-name: shake;
        animation-iteration-count: 2;
    }

    &.hop {
        animation-duration: 0.5s;
        animation-name: hop;
        animation-iteration-count: 3;
    }

    &.drop {
        animation-duration: 1s;
        animation-name: drop;
    }
}

@keyframes hop {
    from {
        transform: none;
    }

    50% {
        transform: translateY(-5px);
    }

    to {
        transform: none;
    }
}

@keyframes shake {
    from {
        transform: none;
    }

    25% {
        transform: rotate(0.01turn);
    }

    50% {
        transform: rotate(-0.01turn);
    }

    to {
        transform: none;
    }
}

@keyframes drop {
    from {
        transform: translateY(-10px);
    }

    to {
        transform: none;
    }
}

@media (max-width: $screen-width-md) {
    .message-box {
        font-size: large;
        min-height: 60px;
    }
}

@media (min-width: $screen-width-md) and (max-width: $screen-width-lg) {
    .message-box {
        font-size: x-large;
        min-height: 80px;
    }
}

@media (min-width: $screen-width-lg) {
    .message-box {
        font-size: x-large;
        min-height: 80px;
    }
}