.guess-list {
    margin: 0 auto;
}

.guess-row {
    display: flex;
    column-gap: 0.5rem;
    margin: 0 auto;
    margin-bottom: 0.25rem;
    flex-grow: 1;

    &:first-child {
        margin-top: unset;
    }
}