.container {
    border: 2px dotted red;
    max-width: 500px;
    margin: auto;
}

.row {
    display: flex;
    height: 50px;
    justify-content: center;
    margin-bottom: 5px;
}

.row:first-child {
    margin-top: 5px;
}