@import '../../../variables.scss';

body {
    background-color: black;
}

.wordle-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--navbar-height));
    width: 100%;
}