@import '../../../../../variables.scss';

.game-container {
    margin: 0 auto;
    flex-grow: 1;
    border: 1px solid white;
}

@media (min-width: $screen-width-lg) {
    .game-container {
        width: 550px;
    }
}

@media (min-width: $screen-width-md) {
    .game-container {
        width: 450px;
    }
}

@media (min-width: $screen-width-sm) {
    .game-container {
        width: 300px;
    }
}