@import '../../../../../variables.scss';

.game-container {
    margin: 0 auto;
    border: 1px solid white;
    height: 100vh;
}


// @media (min-width: $screen-width-sm) and (max-width: $screen-width-md) {
@media (max-width: $screen-width-md) {
    .game-container {
        width: 300px;
    }
}

@media (min-width: $screen-width-md) and (max-width: $screen-width-lg) {
    .game-container {
        width: 450px;
    }
}

@media (min-width: $screen-width-lg) {
    .game-container {
        width: 550px;
    }
}