@import '../../../../../variables.scss';

.game-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: 1px solid white;
}


// @media (min-width: $screen-width-sm) and (max-width: $screen-width-md) {
@media (max-width: $screen-width-md) {
    .game-container {
        width: 300px;
    }

    // .keyboard-key {
    //     width: 20px;
    // }
}

@media (min-width: $screen-width-md) and (max-width: $screen-width-lg) {
    .game-container {
        width: 450px;
    }
}

@media (min-width: $screen-width-lg) {
    .game-container {
        width: 550px;
    }
}