.key {
    border: 1px solid black;
    border-radius: 10%;
    min-width: 20px;
    max-width: 40px;
    flex: 1;
    margin-left: 5px;
    cursor: pointer;
}

.key:hover {
    background-color: bisque;
}
.key:active {
    background-color: beige;
    color: brown;
}

.key.not-in-word {
    background-color: darkslategray;
    color: white;
}
.key.in-wrong-position {
    background-color: lightskyblue;
}

.key.correct-position {
    background-color: green;
}