.letter-square {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    vertical-align: middle;
    border: 1px solid darkgrey;

    &.correct {
        background-color: green;
    }

    &.in-wrong-position {
        background-color: lightskyblue;
    }
}