.letter-square {
    width: 90%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    margin: 0 0.5rem;
    // line-height: 3rem;
    vertical-align: middle;
    // box-sizing: border-box;
    border: 1px solid darkgrey;

    &.correct {
        background-color: green;
    }

    &.in-wrong-position {
        background-color: lightskyblue;
    }
}